:root {
    --bg-color: #f4e7d3;
    --br-btn: #a3b18a;
    --text-color: #2b2b2b;
}

* {
    font-family: 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: var(--bg-color);
}

.btn {
    margin: 10px 5px 0;
    padding: 4px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    color: var(--text-color);
    border: solid 1px var(--text-color);
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--br-btn);
}
